td{
    box-sizing: border-box;
}

#number{
    background-color:lightslategray;
    height: 100px;
    width: 75px;
}

#clear{
    background-color:lightcoral;
    height: 100px;
    width: 75px;
}

#calc{
    margin-left:auto;
    margin-right:auto;
    size: 150px;
    background-color:paleturquoise;
    border-style:solid;
    border-radius:10px;
    padding:30px;
    padding-top:10px;
}

#symbol{
    background-color:palegreen;
    height: 100px;
    width: 75px;
}

#equals{
    background-color:lightcoral;
    height:100px;
    width:225px;
}

input{
    border-radius:25px;
    padding:30px;
    font-size:X-large;
}

#number:hover{
    background-color:silver;
    cursor:pointer;
}

#symbol:hover{
    background-color:greenyellow;
    cursor:pointer;
}

#clear:hover{
    background-color:crimson;
    cursor:pointer;
}

#equals:hover{
    background-color:crimson;
    cursor:pointer;
}