div{
    background-color:goldenrod;
    padding: 1px;
}

ul li{
    list-style-type:none;
}

p{
    text-align:center;
}

p a{
    color:black;
    text-decoration:none;
}

a{
    border-style:solid;
    border-radius:20px;
    padding:5px;
    background-color:silver;
}

a:hover{
    background-color:white;
    font-size:125%;
}